{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <table class="table">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <p>
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        </p>
      </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

            <div class="container"><p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        Forgot Password? <a href="/accounts/password_reset/">Click here </a> to send recovery email to your registered email account</p></div>


    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}


{% block footer %}{% endblock %}
